.hero {
    position: relative;
    margin-bottom: -25px;
}

.hero>img {
    max-width: 1350px;
}

.text {
    position: absolute;
    bottom: 70px;
    right: 80px;
    color: white;
}

.text>p:first-child {
    font-size: 42px;
    font-family: RotisSansSerifStd;
    margin-bottom: -15px;
}

.text>p:last-child {
    font-size: 65px;
    font-family: RotisSansSerifStd-bold;

}

@media (min-width: 360px) and (max-width:820px) {

    .text {
        position: absolute;
        bottom: 40px;
        right: 20px;
        color: white;
    }

    .text>p:first-child {
        font-size: 22px;
        margin-bottom: -10px;
    }

    .text>p:last-child {
        font-size: 35px;
    }
}