.news {
    max-width: auto;
    display: flex;
    height: 432px;
}

.news>.bar {
    width: 180px;
    height: 1px;
    border: 1px solid #f1b61a;
    background-color: #f1b61a;
    position: absolute;
}

.box {
    width: 75%;
    background-color: #1d9798;
    height: 432px;
}

.box>.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 0px 70px;
    color: #fff;
}

.header>.btn {
    background-color: white;
    padding: 0px 20px;
    height: 42px;
    color: #1d9798;
    font-family: RotisSansSerifStd-Bold;
    font-size: 15px;
    border: none;
    border-radius: 3px;
}

.head>p:first-child {
    font-family: RotisSansSerifStd-Light;
    font-size: 30px;
    margin-bottom: -20px;
}

.head>p:last-child {
    font-family: RotisSansSerifStd-bold;
    font-size: 45px;
    margin-bottom: -10px;
}

.box>.cards {
    display: flex;
    gap: 10px;
    padding: 0px 70px 0px 70px;
    width: 100%;
}

.card {
    max-width: 33%;
    background-color: #1d9798;
    height: 100px;
}



.cards>.card>img {
    max-width: 100%;
    padding: 0px
}

.card>.headline,
.info,
.date {
    color: #fff;
    font-family: RotisSansSerifStd;
    /* padding-bottom: 10px; */
    margin: 0px;
}

.info,
.date {
    margin: 0px;
    font-family: RotisSansSerifStd-Lightlt;
    font-size: 12px;
    color: rgb(222, 222, 222)
}


.side {
    width: 25%;
    position: relative;
}

.side>img {
    width: 100%;
    height: 452px;
}

.side-text {
    position: absolute;
    left: 10px;
    bottom: 30px;
    color: #fff;
}

.side-text>p:first-child {
    font-family: RotisSansSerifStd;
    font-size: 30px;
}

.side-text>p:last-child {
    font-family: RotisSansSerifStd-Bold;
    font-size: 50px;
}

@media (min-width: 360px) and (max-width:820px) {
    .news {
        max-width: 820px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .box {
        width: 100%;
        height: auto;
    }

    .box>.header {
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .box>.cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px;
        width: 100%;
    }

    .card {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }

    .card:nth-child(2) {
        padding: 10px 0px;
        border-right: none;
        border-left: none;
    }

    .side {
        width: 100%;
    }

    .side-text {
        left: 20px;
        bottom: 50px;
    }

    .side>img {
        width: 100%;
        height: 100%;
    }

}